/*
Layout
*/


.extra-section-padding-lg {
    padding-bottom: 150px;
}

.extra-section-padding-sm {
    padding-bottom: 25px;
}

img.title-img {
    width: 75%;
}

@media(min-width:768px) {
    img.title-img {
        width: 50%;
    }
}


/*
Text
*/

.par-text {
	color: #FFFFF;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

.par-text-courier {
    color: #FFFFF;
    font-family: Courier;
    margin: 0 0 25px;
    font-size: 13px;
    line-height: 1.5;
}

@media(min-width:768px) {
    .par-text {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }

    .par-text-courier {
        color: #FFFFF;
        font-family: Courier;
        margin: 0 0 35px;
        font-size: 15px;
        line-height: 1.6;
        font-weight: bold;
    }
}

.caps {
	text-transform: uppercase;
}

.white-underline {
    color: #FFF;
}

.white-underline:hover {
    color: #FFF;
    text-decoration: underline;
}

.white-underline:visited
{
    color: #FFF;
}

/*
Colors
*/

.blue {
	color: #42A3DC;
}

a.blue {
    color: #42A3DC;
}

a.blue:hover{
    color: #1D6C9B;
}

.green {
	color: #42DCA3;
}

.red {
	color: #FF4242;
}

.purple {
    color: #BE42BE;
}

.yellow {
    color: #FFFF50;
}

.orange {
    color: #FFA500;
}


/*
Tables
*/

.table tbody>tr>td.vert-align { 
    vertical-align: middle;
}

.table-hover-gm tbody tr:hover td, .table-hover2 tbody tr:hover th {
  background-color: rgba(255, 255, 255, 0.3);
}
